html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure{
margin:0;
padding:0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
display:block;
}
table{
border-collapse:separate;
border-spacing:0;
}
caption, th, td{
text-align:left;
font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after{
content:"";
}
blockquote, q{
quotes:"" "";
}
sup{
vertical-align:super;
font-size:smaller;
}
code{
font-family:'Courier New', Courier, monospace;
font-size:12px;
color:#272727;
}
a img{
border:none;
}
ol, ul{
padding:10px 0 20px;
margin:0 0 0 35px;
text-align:left;
}
ol li{
list-style-type:decimal;
padding:0 0 5px;
}
ul li{
list-style-type:square;
padding:0 0 5px;
}
ul ul, ol ol{
padding:0;
}
h1, h2, h3, h4, h5, h6{
font-weight:normal;
text-transform:capitalize;
}
.adp img{
width:80%;
height:auto;
}
.post-body h1{
line-height:34px;
font-size:44px;
margin:10px 0;
}
.post-body h2{
font-size:30px;
line-height:40px;
border-bottom:2px solid #336699;
padding-bottom:5px;
margin:10px 0;
}
.post-body h3{
font-size:28px;
line-height:38px;
border-bottom:2px solid #EEEEEE;
padding-bottom:5px;
margin:10px 0;
}
.post-body h4{
font-size:26px;
line-height:36px;
margin:10px 0;
}
.post-body h5{
font-size:24px;
line-height:34px;
margin:10px 0;
}
.post-body h6{
font-size:18px;
line-height:24px;
margin:10px 0;
}
/*****************************************
Global Links CSS
******************************************/
a{
text-decoration:none;
/*transition*/
-webkit-transition:all 150ms ease-in-out;
   -moz-transition:all 150ms ease-in-out;
     -o-transition:all 150ms ease-in-out;
        transition:all 150ms ease-in-out;
}
a:hover{
color:#13171a;
}
html{
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-size:62.5%;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
body{
background-image:url('http://2.bp.blogspot.com/-s36kX9bmrHg/VAM7d2cKZ0I/AAAAAAAAAIA/AcshGFvG1gw/s1600/bg1.jpg');
background-repeat:repeat;
background-position:top center;
background-attachment:fixed;
/*background-size*/
-webkit-background-size:/*@@prefixmycss->No equivalent*/;
   -moz-background-size:cover;
     -o-background-size:/*@@prefixmycss->No equivalent*/;
        background-size:cover;
background-color:#000;
margin:30px 0;
margin:3rem 0;
color:#000000;
font-family:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:19px;
font-size:1.9rem;
line-height:1.55;
text-rendering:optimizeLegibility;
}
.clr{
clear:both;
float:none;
}
#templateclue{
color:#efbb43;
}
/*****************************************
Wrappers
******************************************/
.ct-wrapper{
max-width:1170px;
margin-left:auto;
margin-right:auto;
}
.outer-wrapper{
background:#FFFFFF;
position:relative;
padding:5rem 2rem;
}
.header-wrapper{
background:#000000;
}
.main-wrapper{
width:100%margin-right:auto;
}
.site-inner{
max-width:970px;
margin:0 auto;
position:relative;
}
/**** Layout Styling CSS *****/
body#layout .header-wrapper{
margin-top:40px;
}
body#layout #header, body#layout .header-right{
width:50%;
}
body#layout .outer-wrapper, body#layout body#layout .ct-wrapper{
margin:0;
position:inherit;
padding:0;
}
body#layout .footer.section{
float:left;
width:50%;
}
body#layout .site-header-w.section{
width:50%;
float:left;
}
body#layout .header-widgets{
width:100%;
position:relative;
margin-top:4em;
}
body#layout .main-wrapper{
float:left;
width:100%;
margin-right:0;
}
body#layout .site-header{
width:100%;
display:initial;
}
body#layout .aboutme31{
display:none;
}
body#layout .site-inner{
position:inherit;
}
/*****************************************
Main Menu CSS
******************************************/
.site-header{
position:relative;
margin-bottom:40px;
margin-bottom:4rem;
}
#Header1_headerimg{
display:initial!important;
text-align:center;
}
.centered .custom-logo{
margin:0 auto;
}
.centered .site-navigation{
margin-bottom:0;
}
a,.accent-color,.site-navigation a:hover{
color:#efbb43;
}
.traditional{
position:relative;
}
.traditional .site-branding{
float:left;
text-align:left;
}
@media screen and (min-width: 650px){
.traditional .site-navigation{
position:absolute;
top:50%;
/*transform*/
-webkit-transform:translateY(-50%);
   -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
     -o-transform:translateY(-50%);
        transform:translateY(-50%);
right:0;
margin:0;
padding:0;
}
.traditional .site-navigation ul{
margin:0;
}
.traditional .site-navigation ul > li:before{
padding:0 15px;
padding:0 1.5rem;
}
}
.site-header-w{
display:inline-block;
vertical-align:top;
margin-left:3%;
margin-right:-.25em;
overflow:hidden;
width:47%;
}
.site-header-w h2{
font-size:20px;
font-size:2.2rem;
margin-bottom:50px;
font-weight:900;
margin-bottom:5rem;
text-transform:uppercase;
}
.grid{
margin-left:-3%;
max-width:105%;
}
.site-header-w .widget{
clear:both;
font-size:16px;
line-height:26px;
margin:15px 25px 25px;
}
.site-header-w ul{
margin:0;
padding:0;
list-style:none;
}
.site-header-w li{
margin:0 0 0 15px;
padding:0 0 5px;
text-transform:capitalize;
}
/*---------------------------------------------------------
 Title and tagline (_scaffolding.scss)
-------------------------------------------------------- */
.site-branding{
text-align:center;
}
.site-title{
text-transform:uppercase;
line-height:1.2;
margin:0;
color:#000;
}
.site-title a{
color:inherit;
}
.site-description{
color:#a3a3a3;
font-size:15px;
font-size:1.5rem;
}
/*---------------------------------------------------------
 Custom logo (_scaffolding.scss)
-------------------------------------------------------- */
.custom-logo{
display:block;
max-width:100%;
background-repeat:no-repeat;
/*background-size*/
-webkit-background-size:/*@@prefixmycss->No equivalent*/;
   -moz-background-size:contain;
     -o-background-size:/*@@prefixmycss->No equivalent*/;
        background-size:contain;
background-position:center center;
/*transition*/
-webkit-transition:all 200ms ease;
   -moz-transition:all 200ms ease;
     -o-transition:all 200ms ease;
        transition:all 200ms ease;
}
.custom-logo h1{
    display: block;
    width: 100%;
    font-size: 80px;
    font-weight: 900;
    text-decoration: none;
    text-shadow: none;
    font-family: Shadows Into Light;
}
/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.navigation{
list-style:none;
margin:15px 0;
margin:1.5rem 0;
}
.navigation li{
display:inline-block;
margin-right:15px;
}
.screen-reader-text{
border:0;
clip:rect(0 0 0 0);
height:1px;
margin:-1px;
overflow:hidden;
padding:0;
position:absolute;
width:1px;
}
.site-navigation{
text-align:center;
text-transform:uppercase;
font-size:15px;
font-size:1.5rem;
margin:50px 0;
margin:3rem 0;
position:relative;
z-index:100;
}
.site-navigation .main-menu{
margin-bottom:0;
text-align:center;
}
.site-navigation a{
color:inherit;
}
@media screen and (min-width: 800px){
.site-navigation ul > li:before{
content:'\2044';
display:inline-block;
padding:0 15px;
}
.site-navigation ul > li:first-child:before{
display:none;
}
.site-navigation ul > li li :before{
display:none;
}
.site-navigation ul ul{
float:left;
position:absolute;
top:1.5em;
left:-999em;
z-index:99999;
padding-top:5px !important;
}
.site-navigation ul ul ul{
position:relative;
top:0 !important;
left:0 !important;
margin-bottom:1px !important;
margin-left:15px !important;
padding-top:0 !important;
}
.site-navigation ul ul li:hover > ul{
left:100%;
}
.site-navigation ul li:hover > ul{
left:40px;
}
.site-navigation .sub-menu{
padding:0;
margin:0;
margin-top:3px !important;
width:200px;
text-align:left;
}
.site-navigation .sub-menu ul{
margin-top:0 !important;
}
.site-navigation .sub-menu li{
display:block;
margin-top:1px;
}
.site-navigation .sub-menu li::before{
display:none;
}
.site-navigation .sub-menu a{
background:#000;
color:#fff;
}
}
.site-navigation a:not(.close-menu){
padding:4px 15px;
display:inline-block;
}
.site-navigation a:not(.close-menu):hover{
background:#000;
}
.site-navigation li{
display:inline-block;
position:relative;
}
.nav-open{
overflow:hidden;
}
@media screen and (min-width: 800px){
.menu-toggle,
  .close-menu{
display:none;
}
}
@media screen and (max-width: 800px){
.site-navigation{
display:none;
}
.mobile-navigation{
display:block;
position:fixed;
width:100%;
height:100%;
top:0;
right:0;
bottom:0;
left:0;
margin:0;
padding:50px 0;
background:white;
text-align:center;
z-index:501;
font-size:20px;
font-size:2rem;
font-weight:bold;
opacity:1;
max-height:9999px;
-webkit-overflow-scrolling:touch;
/*backface-visibility*/
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
/*transform*/
-webkit-transform:scale(1);
   -moz-transform:scale(1);
    -ms-transform:scale(1);
     -o-transform:scale(1);
        transform:scale(1);
}
.mobile-navigation ul{
margin:0;
padding:0;
}
.mobile-navigation li{
display:block;
margin:15px 0;
margin:1.5rem 0;
}
.menu-wrapper{
position:relative;
width:100%;
}
.main-menu{
width:100%;
}
.sub-menu{
font-size:15px;
font-size:1.5rem;
}
.sub-menu a{
color:#6d6d6d;
}
.sub-menu li{
margin:5px 0;
}
.menu-toggle{
position:absolute;
top:50%;
/*transform*/
-webkit-transform:translateY(-50%);
   -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
     -o-transform:translateY(-50%);
        transform:translateY(-50%);
}
.menu-toggle{
right:0;
color:#000;
font-size:25px;
font-size:2.5rem;
}
.close-menu{
position:absolute;
top:50px;
right:20px;
color:#000;
z-index:502;
font-size:25px;
font-size:2.5rem;
}
.close-menu:hover{
color:inherit !important;
}
}
/*****************************************
/*****************************************
Blog Post CSS
******************************************/
.intro-page{
text-align:center;
font-size:20px;
line-height:1.5;
}
.stag-social-icons{
font-size:45px;
}
.stag-social-icons .stag-icon{
line-height:72px;
}
.stag-social-icons a{
display:inline-block;
width:72px;
height:72px;
text-align:center;
vertical-align:top;
margin:0 10px 10px 0;
}
.stag-social-icons.normal a{
color:#2f322b;
}
.stag-social-icons.square a{
background:#2f322b;
color:#fff;
}
.blog-posts.hfeed{
margin:0 15px 0 5px;
}
.post-labels{
position:absolute;
top:180px;
left:50px;
}
.post-labels a{
position:relative !important;
top:0 !important;
left:0 !important;
}
.post-labels a:nth-child(2){
margin-left:8px !important;
}
#f-imgcon{
width:761px;
height:400px;
}
.post.hentry:hover .post-image:before{
opacity:1;
}
.post-image:before{
content:'';
position:absolute;
top:0;
left:0;
bottom:0;
z-index:999;
opacity:0;
right:0;
margin:15px;
border:2px solid #fff;
/*transition*/
-webkit-transition:all 250ms ease-in;
   -moz-transition:all 250ms ease-in;
     -o-transition:all 250ms ease-in;
        transition:all 250ms ease-in;
}
.post-image{
/*transition*/
-webkit-transition:all 250ms ease-in;
   -moz-transition:all 250ms ease-in;
     -o-transition:all 250ms ease-in;
        transition:all 250ms ease-in;
}
.post-image .imgcon{
width:100%;
height:25em;
}
.readmore .button.outline{
z-index:14;
position:absolute;
bottom:30px;
left:50px;
}
.home-link{
display:none;
}
#blog-pager-newer-link{
float:left;
text-align:left;
display:inline-block;
}
#blog-pager-older-link{
text-align:right;
float:right;
display:inline-block;
}
#blog-pager-newer-link a{
text-decoration:none;
color:#000;
}
#Blog1_blog-pager-newer-link:before{
content:'\f053';
font-family:'FontAwesome';
padding-right:10px;
font-weight:normal;
}
#blog-pager-older-link a{
text-decoration:none;
color:#000;
}
#blog-pager-older-link:after{
content:'\f054';
font-family:'FontAwesome';
padding-left:10px;
font-weight:normal;
}
#blog-pager{
border-top:3px solid #000;
border-bottom:3px solid #000;
padding:0.8em 0;
margin:0;
font-size:19px;
width:100%;
line-height:normal;
margin-bottom:5rem;
font-weight:700;
}
.tcpost-share-buttons{
display:inline-block;
}
.tcpost-share-buttons .fa{
display:inline-block;
width:25px;
}
.tcpost-share-buttons .fa::before{
font-size:22px;
font-size:2.2rem;
}
.tcpost-share-buttons a{
color:#222;
}
.tcpost-share-buttons a:hover{
color:#4d4d50;
}
.showpageOf{
display:none;
}
.showpageNum a, .showpage a{
margin:0 4px;
}
.showpagePoint{
margin:0 2px 0 0;
}
.more-posts{
margin-bottom:50px;
margin-bottom:5rem;
}
@media screen and (min-width: 481px){
.more-posts{
text-align:center;
position:relative;
}
.more-posts:before , .relatedpoststitle:before{
content:'';
background:#000;
position:absolute;
top:47%;
width:100%;
height:3px;
left:0;
z-index:1;
}
.more-posts span , .relatedpoststitle h4{
background:#fff;
display:inline-block;
position:relative;
z-index:2;
padding:0 20px;
font-weight:600;
}
}
.more-posts{
margin-top:50px;
margin-top:5rem;
}
.more-posts span{
padding:0;
}
@media screen and (max-width: 480px){
.more-posts .button{
width:90%;
display:block;
text-align:center;
}
}
button,
.button,
input[type="reset"],
input[type="submit"],
input[type="button"]{
background:transparent;
font:inherit;
color:#000;
opacity:1;
text-transform:uppercase;
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
border:2px solid black;
font-weight:bold;
font-size:.95em;
padding:10px 15px;
padding:1rem 1.5rem;
/*transition*/
-webkit-transition:all 200ms ease-in;
   -moz-transition:all 200ms ease-in;
     -o-transition:all 200ms ease-in;
        transition:all 200ms ease-in;
}
button:hover,
.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover{
color:#fff;
background:#000;
}
.divaboutme p, .abouth4{
text-align:center;
}
.aboutdes{
margin-top:2rem;
font-size:17px;
}
.divaboutme h4{
font-size:2.7rem;
font-weight:bold;
}
.aboutprofile{
border:0px solid !important;
background:#fff;
float:none!important;
margin:0!important;
padding:0!important;
/*border-radius*/
-webkit-border-radius:240px!important;
   -moz-border-radius:240px!important;
        border-radius:240px!important;
width:130px;
}
/*****************************************
Post Highlighter CSS
******************************************/
.post blockquote, .blockquote{
margin:10px auto;
padding:5%;
background:#f8f8f8;
color:#333;
font-size:1em;
line-height:150%;
border:1px solid #ddd;
}
pre ,code{
font-size:12px;
background:#444 url('http://1.bp.blogspot.com/-YfTYnkZpk7Y/Uv9sQXtVAcI/AAAAAAAAAOE/8ILDtY0uhig/s1600/bqbg.png') no-repeat right;
line-height:150%;
/*border-radius*/
-webkit-border-radius:8px;
   -moz-border-radius:8px;
        border-radius:8px;
color:#FFFFFF;
margin:1em auto;
padding:3.5em 3em;
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
font-family:sans-serif;
}
code{
font-family:"Courier New",monospace;
font-size:12px;
background:#eee;
color:#333;
}
/*****************************************
Custom Widget CSS
******************************************/
/***** Popular Post *****/
.PopularPosts h2{
padding-right:.4em;
padding-left:0em;
}
.popular-posts ul{
padding-left:0;
counter-reset:templateclue;
}
.popular-posts ul li{
list-style:none outside none !important;
margin-left:0 !important;
overflow:hidden;
padding:7px 0 !important;
/*transition*/
-webkit-transition:all 0.25s linear 0s;
   -moz-transition:all 0.25s linear 0s;
     -o-transition:all 0.25s linear 0s;
        transition:all 0.25s linear 0s;
counter-increment:templateclue;
}
.PopularPosts ul li:before{
content:counters(templateclue, ".");
padding:0 .1em 0 0;
font-size:20px;
font-weight:bold;
color:#C4C4C4;
float:left;
margin-right:10px;
}
.PopularPosts .item-thumbnail, .PopularPosts .item-snippet{
display:none!important;
}
/* Hides Thumbnail and Snippet */

.PopularPosts a, .PopularPosts a:hover{
color:#959595;
font-family:sans-serif;
text-decoration:none;
}
#PopularPosts1 li{
padding-right:1em !important;
padding-left:1em !important;
}
/***** Button CSS *****/
.showpageArea a{
text-decoration:underline;
}
.showpageNum a ,.showpage a{
font-size:15px;
color:#000;
border:3px solid #ddd;
padding:8px;
background:#f9f9f9;
padding-left:13px;
padding-right:13px;
}
.showpageNum a:hover , .showpage a:hover{
background-color:#f9f9f9!important;
}
.showpagePoint{
color:rgb(0, 0, 0);
text-decoration:none;
border:3px solid #ddd;
margin:0 3px;
padding:8px;
background:#f9f9f9;
padding-left:15px;
padding-right:15px;
font-size:15px;
}
.showpageOf{
text-decoration:none;
padding:3px;
margin:0 3px 0 0;
font-size:15px margin: 0 3px;
}
.showpageNum a:link,.showpage a:link{
text-decoration:none;
background-color:#fff;
}
.showpageOf{
display:none;
}
.showpageNum{
margin:0 3px;
}
.showpageArea{
padding-bottom:20px;
}
/***** Profile Widget CSS *****/
.Profile img{
border:1px solid #cecece;
background:#fff;
float:left;
margin:5px 10px 5px 0;
padding:5px;
/*border-radius*/
-webkit-border-radius:50px;
   -moz-border-radius:50px;
        border-radius:50px;
}
.profile-data{
color:#999999;
font:bold 20px/1.6em Arial,Helvetica,Tahoma,sans-serif;
font-variant:small-caps;
margin:0;
text-transform:capitalize;
}
.profile-datablock{
margin:0.5em 0;
}
.profile-textblock{
line-height:1.6em;
margin:0.5em 0;
}
a.profile-link{
clear:both;
display:block;
font:80% monospace;
padding:10px 0;
text-align:center;
text-transform:capitalize;
}
/*****************************************
Sidebar CSS
******************************************/
.sidebar{
margin:0;
padding:0;
display:block;
}
.sidebar h2{
font-size:19px;
font-weight:bold;
margin-bottom:12px;
text-transform:none;
}
.sidebar .widget{
clear:both;
font-size:16px;
line-height:26px;
margin-bottom:25px;
}
.sidebar ul{
margin:0;
padding:0;
list-style:none;
}
.sidebar li{
margin:0 0 0 15px;
padding:0 0 5px;
text-transform:capitalize;
}
/*****************************************
Footer Top
******************************************/
.header-widgets{
/*transition*/
-webkit-transition:max-height 400ms ease-in-out;
   -moz-transition:max-height 400ms ease-in-out;
     -o-transition:max-height 400ms ease-in-out;
        transition:max-height 400ms ease-in-out;
}
.site-header-widgets{
background:#000;
background:rgba(0, 0, 0, 0.8);
position:relative;
color:#fff;
padding:5rem 2rem;
font-size:.93em;
}
.site-header-widgets a:hover{
color:inherit;
}
.header-widgets-toggle{
color:#fff;
position:absolute;
top:0;
right:0;
display:block;
width:66px;
height:66px;
z-index:100;
}
.header-widgets-toggle:hover{
color:#fff;
}
.header-widgets-toggle:after{
content:'';
width:0;
height:0;
border-style:solid;
border-width:0 66px 66px 0;
border-color:transparent;
display:block;
}
.header-widgets-toggle .fa{
position:absolute;
top:14px;
right:11px;
}
@media screen and (max-width: 650px){
.header-widgets-toggle{
display:none;
}
}
.header-widgets-toggle:after{
border-right-color:#efbb43;
}
/*****************************************
Footer CSS
******************************************/
#footer{
background:rgba(0, 0, 0, 0.8);
position:relative;
color:#fff;
padding:5rem 2rem;
font-size:.93em;
}
.footer{
float:left;
width:50%;
}
.footer h2{
font-size:20px;
font-size:2.2rem;
margin-bottom:50px;
font-weight:900;
margin-bottom:2rem;
text-transform:uppercase;
}
.footer .widget{
clear:both;
font-size:16px;
line-height:26px;
margin:15px 25px 25px;
}
.footer ul{
margin:0;
padding:0;
list-style:none;
}
.footer li{
margin:0 0 0 15px;
padding:0 0 5px;
text-transform:capitalize;
}
.footer-navigation{
text-align:right;
text-transform:uppercase;
margin:0;
padding:0;
font-size:14px;
font-size:1.4rem;
}
.footer-navigation li{
display:inline-block;
}
.footer-navigation li:before{
content:'\2044';
display:inline-block;
padding:0 10px;
}
.footer-navigation li:first-child:before{
display:none;
}
.site-footer-secondary{
position: relative;
padding: 35px 0px;
width: 100%;
display: inline-block;
color: #fff;
background: rgba(0, 0, 0, 0.88);
}
@media screen and (max-width: 800px){
.site-footer-secondary{
text-align:center;
}
.site-footer-secondary .footer-navigation{
text-align:center;
margin-bottom:20px;
}
}
.site-footer-secondary a{
color:inherit;
}
.site-footer-secondary a:hover{
opacity:.65;
}
.custom-background .site-footer-secondary{
color:#fff;
}
.custom-background .site-footer-secondary a{
color:#fff;
}
@media screen and (max-width: 970px){
.site-footer-secondary .site-inner{
padding-left:20px;
padding-right:20px;
}
}
@media screen and (min-width: 800px){
.site-meta-footer .footer-text{
float: left;
width: 60%;
}
.site-meta-footer .footer-navigation{
float: right;
width: 40%;
}
}

/*****************************************
Comments CSS
******************************************/

#comments{
background:#FFF;
padding:20px;
position:relative;
top:30px;
border-top:3px solid #000;
}
#comments h4{
color:#414141;
line-height:2em;
font-size:3.2rem;
font-weight:700;
}
.comments ol li:before{
content:counters(templateclue,".");
font-size:3.5rem;
color:rgba(0,0,0,0.16);
right:.3em;
position:absolute;
text-shadow:1px 1px 1px #FFF;
padding:.2em 0 0;
}
.comments ol li{
counter-increment:templateclue;
}
.comments ol{
counter-reset:trackit;
}
.comments .comments-content .comment-content{
text-align:justify;
border:1px solid #e1e1e1;
margin-left:-40px;
margin-top:35px;
padding:20px;
}
.comments .comments-content .comment-header{
width:58%;
position:relative;
margin:10px 0 0;
padding:0 25px;
}
.comments .comments-content .user{
font-style:normal;
font-weight:400;
color:#414141;
font-size:20px;
}
.comments .comments-content .user a{
color:#414141;
}
#comment-post-message{
display:none;
}
.comments .comments-content .user.blog-author a{
color:#000000;
text-decoration:none;
font-family:sans-serif;
font-weight:700;
}
span.datetime.secondary-text a{
color:#b9b9b9;
text-decoration:none;
font-variant:small-caps;
}
.comments .comments-content .datetime{
color:#616161;
fontsize:12px;
display:block;
margin:0;
}
.comments .comments-content .comment-thread ol{
list-style-type:none;
text-align:left;
margin:0;
padding:0;
}
.comments .comment .comment-actions a{
padding-right:5px;
padding-top:5px;
text-decoration:none;
text-align:right;
}
#bc_0_2I{
text-align:center;
}
.comments .avatar-image-container img{
max-width:60px;
max-height:60px;
width:60px;
height:60px;
z-index:1;
float:left;
}
.comments .avatar-image-container{
float:left;
max-height:60px;
height:60px;
overflow:hidden;
width:60px;
max-width:60px;
/*border-radius*/
-webkit-border-radius:240px;
   -moz-border-radius:240px;
        border-radius:240px;
background:#fff;
margin:0px;
}
.comment .comment-replies .comment{
padding:10px;
}
.comments .comments-content .comment-replies .comment,.comments .comments-content .comment-replies .comment:first-child,.comments .comments-content .comment-replies .comment:last-child{
margin:0;
padding:1em;
}
.comments .comments-content .comment:last-child,.comments .comments-content .comment:first-child{
padding-top:5px;
padding-bottom:5px;
list-style:none;
position:relative;
}
.comment-thread.inline-thread .comment-content{
background:#fff;
}
span.item-control.blog-admin,.comments .thread-toggle{
display:none;
}
#comments .comment-actions.secondary-text,.comments .comment .comment-actions a:hover{
text-decoration:none;
}
/*****************************************
Responsive styles
******************************************/
@media screen and (max-width: 1015px){
.post.hentry{
width:100%!important;
}
}
@media screen and (max-width: 900px){
.related.grid-item , .grid-item img{
width:100%!important;
}
}
@media screen and (max-width: 630px){
.post-header-line-1 {
padding:27px 0px 125px!important;
}
.divpostright{
float:left!important;
}
}
@media screen and (max-width: 960px){
.ct-wrapper{    padding:0 15px;
}
}
@media screen and (max-width: 768px){
#header p.description { margin:0;
}
.header-right{
display:none;
}
#comment-editor{
margin:10px;
}
.footer{
width:50%;
}
}
@media screen and (max-width: 500px){
#header img { width:100%;
}
}
@media screen and (max-width: 420px){
.comments .comments-content .datetime{    display:block;
float:none;
}
.comments .comments-content .comment-header{
height:70px;
}
}
@media screen and (max-width: 320px){
.footer { width:100%;
}
.ct-wrapper{
padding:0;
}
.post-body img{
max-width:230px;
}
.comments .comments-content .comment-replies{
margin-left:0;
}
}

/*********************
Lable
*********************/
.sidebar .label-size{
position:relative;
text-transform:uppercase;
text-decoration:none;
font-size:13px;
font-family:Open Sans;
color:#fff!important;
}
.sidebar .label-size a{
color:#fff!important;
font-weight:bold;
padding:8px 10px;
margin:0 6px 6px 0;
float:left;
display:block;
/*transition*/
-webkit-transition:all 0.4s;
   -moz-transition:all 0.4s;
     -o-transition:all 0.4s;
        transition:all 0.4s;
}
.sidebar .label-size a{
background:#000000;
border-bottom:3px solid #ddd;
text-decoration:none;
font-family:arial;
}
.sidebar .label-size a:hover{
background:#333534;
border-bottom:3px solid #000;
}
.a-btn{
padding-bottom:10px;
}
.a-btn a{
position:relative;
color:rgba(255,255,255,1);
text-decoration:none;
background-color:rgba(219,87,5,1);
font-family:'Yanone Kaffeesatz';
font-weight:600;
font-size:2.1em;
display:block;
/*border-radius*/
-webkit-border-radius:8px;
   -moz-border-radius:8px;
        border-radius:8px;
/*box-shadow*/
-webkit-box-shadow:0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
   -moz-box-shadow:0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
        box-shadow:0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
margin:10px auto;
width:30%;
text-align:center;
/*transition*/
-webkit-transition:all .1s ease;
   -moz-transition:all .1s ease;
     -o-transition:all .1s ease;
        transition:all .1s ease;
}
.a-btn a:active{
/*box-shadow*/
-webkit-box-shadow:0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
   -moz-box-shadow:0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
        box-shadow:0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
position:relative;
top:6px;
}
.adspot_link{
display:none;
}
.video-container{
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}
.video-container iframe,
.video-container object,
.video-container embed{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
/*************************************
Related Post
*************************************/
.related.grid-item{
display:inline-block;
vertical-align:top;
width:30%;
float:left;
margin-right:3%;
max-height:240px;
position:relative;
background:black;
text-align:center;
color:#fff;
overflow:hidden;
height:465px;
margin-bottom:2rem;
}
.relatedpoststitle{
font-size:20px;
font-size:2rem;
text-transform:uppercase;
text-align:center;
position:relative;
margin-bottom:5rem;
}
.related.grid-item:hover .divlink:before{
opacity:1;
}
.related_posts h3{
position:absolute;
text-transform:uppercase;
font-weight:900;
line-height:1em;
text-align:center;
top:50%;
width:85%;
z-index:10;
border:20px solid transparent;
text-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);
/*transform*/
-webkit-transform:translateY(-50%);
   -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
     -o-transform:translateY(-50%);
        transform:translateY(-50%);
}
.related_posts h3:after{
content:'';
display:block;
background:#fff;
width:50px;
margin:25px auto;
height:2px;
}
.divlink:before{
content:'';
position:absolute;
top:0;
left:0;
bottom:0;
z-index:999;
opacity:0;
right:0;
margin:15px;
border:2px solid #fff;
/*transition*/
-webkit-transition:all 250ms ease-in;
   -moz-transition:all 250ms ease-in;
     -o-transition:all 250ms ease-in;
        transition:all 250ms ease-in;
}
.related_posts h3 a{
color:#FFF;
}
]]></b:skin>

<b:if cond='data:blog.pageType != &quot;item&quot;'>
<b:if cond='data:blog.pageType != &quot;static_page&quot;'>
<style>
.post.hentry {
height: 375px;
display: inline-block;
vertical-align: top;
width: 48.4%;
float: left;
position: relative;
background: black;
text-align: center;
color: #fff;
overflow: hidden;
margin-right: 15px;
margin-bottom: 20px;
margin-bottom: 2rem;
}
.landscape{
width: 98.4%!important;
margin-right: 0px!important;
height: 465px!important;
}
.landscape h3.post-title.entry-title {
font-size: 5rem;
}
h3.post-title.entry-title {
position: absolute;
top: 45%;
width: 100%;
text-align: center;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
color: #FFF;
font-weight: 900;
z-index: 9999;
font-size: 28px;
}
h3.post-title.entry-title a {
  color: #fff;
}
h3.post-title.entry-title a:after {
content: &#39;&#39;;
background: #fff;
width: 50px;
margin: 25px auto;
height: 2px;
display: block;
}
.post-header-line-1 {
position: absolute;
z-index: -9999;
}
